## 一、爬取数据

In [37]:
import urllib3
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split


pd.set_option('display.max_columns', 50)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "d:\anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Administrator\AppData\Local\Temp\ipykernel_7300\4051084697.py", line 7, in <module>
    from sklearn.metrics import confusion_matrix
  File "d:\anaconda\lib\site-packages\sklearn\__init__.py", line 83, in <module>
    from .base import clone
  File "d:\anaconda\lib\site-packages\sklearn\base.py", line 19, in <module>
    from .utils import _IS_32BIT
  File "d:\anaconda\lib\site-packages\sklearn\utils\__init__.py", line 22, in <module>
    from ._param_validation import Interval, validate_params
  File "d:\anaconda\lib\site-packages\sklearn\utils\_param_validation.py", line 15, in <module>
    from .validation import _is_arraylike_not_scalar
  File "d:\anaconda\lib\site-packages\sklearn\utils\validation.py", line 28, in <module>
    from ..utils._array_api import _asarray_with_order, _is_numpy_namespace, get_namespace
  File "d:\anaconda\lib\site-packages\sklearn\utils\_array_api.py", line 9, in <module>
    from .fixes import parse_version
  File "d:\anaconda\lib\site-packages\sklearn\utils\fixes.py", line 18, in <module>
    import scipy.stats
  File "d:\anaconda\lib\site-packages\scipy\stats\__init__.py", line 485, in <module>
    from ._stats_py import *
  File "d:\anaconda\lib\site-packages\scipy\stats\_stats_py.py", line 37, in <module>
    from numpy.testing import suppress_warnings
  File "d:\anaconda\lib\site-packages\numpy\testing\__init__.py", line 10, in <module>
    from ._private.utils import *
  File "d:\anaconda\lib\site-packages\numpy\testing\_private\utils.py", line 23, in <module>
    import numpy.linalg.lapack_lite
ImportError: DLL load failed while importing lapack_lite: 找不到指定的模块。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "d:\anaconda\lib\site-packages\IPython\core\ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
  File "d:\anaconda\lib\site-packages\IPython\core\ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
  File "d:\anaconda\lib\site-packages\IPython\core\ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "d:\anaconda\lib\site-packages\IPython\core\ultratb.py", line 1055, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "d:\anaconda\lib\site-packages\IPython\core\ultratb.py", line 955, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "d:\anaconda\lib\site-packages\IPython\core\ultratb.py", line 778, in lines
    return self._sd.lines
  File "d:\anaconda\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "d:\anaconda\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "d:\anaconda\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "d:\anaconda\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "d:\anaconda\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "d:\anaconda\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "d:\anaconda\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [2]:
def getPage(herf):
    headers = {
        'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'
    }
    http = urllib3.PoolManager()
    req = http.request(
        method = 'GET'
        ,url = herf
        ,headers = headers
    )
#     print(req.data)
    return req.data

def getPageNum(url):
    num = 0
    page = getPage(url)
    soup = BeautifulSoup(page)
    strong = soup.find('td', colspan='7')
    if strong:
        result = strong.get_text().split(' ')
        list_num = re.findall('[0-9]{1}', result[1])
        for i in range(len(list_num)):
            num = num*10 + int(list_num[i])
        return num
    else:
        return 0
            
def getText(url):
    for list_num in range(getPageNum(url), 0, -1):
        print(list_num)
        herf = 'http://kaijiang.zhcw.com/zhcw/html/ssq/list_' + str(list_num) + '.html'
        page = BeautifulSoup(getPage(herf))
#         print(page)
        em_list = page.find_all('em')
        div_list = page.find_all('td', {'align':'center'})
        
        text_list = []
        for i in range(9):
            text_list.append([])
        
        with open ('num.txt', 'a') as f:
            for d, div in enumerate(div_list):
                if d%5 == 0 or d%5 == 1:
                    text_list[d%5].append(div.get_text())
            text_list[0] = text_list[0][:-1]
            for e, em in enumerate(em_list):
                text_list[e%7+2].append(em.get_text())
#             print(text_list)
            for i in range(9):
                text_list[i].reverse()
            pd.DataFrame(text_list).T.to_csv('num.txt', sep = ',', mode = 'a', index = None, header = 0)

In [3]:
url = 'http://kaijiang.zhcw.com/zhcw/html/ssq/list_1.html'
getText(url)

158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

## 二、预测

### 2.1 路线一：根据每个数的出现频率，出现间隔等等，预测每个数在下次是否会出现

In [4]:
data_o = pd.read_table('num.txt', sep = ',', header = None, names = ['date', 'phase', 'red1', 'red2', 'red3', 'red4', 'red5', 'red6', 'blue'], parse_dates = ['date'])
data_o.head()

        date    phase  red1  red2  red3  red4  red5  red6  blue
0 2003-02-23  2003001    10    11    12    13    26    28    11
1 2003-02-27  2003002     4     9    19    20    21    26    12
2 2003-03-02  2003003     1     7    10    23    28    32    16
3 2003-03-06  2003004     4     6     7    10    13    25     3
4 2003-03-09  2003005     4     6    15    17    30    31    16

In [10]:
# 记录各数字出现的期数

appear_dict = {}
for i in range(33):
    appear_dict[i+1] = []
# appear_dict

for phase in range(data_o.shape[0]):
    tmp_list = data_o.iloc[phase].tolist()[2:-1]
    for num in range(33):
        if num+1 in tmp_list:
            appear_dict[num+1].append(1)
        else:
            appear_dict[num+1].append(0)
pd.DataFrame(appear_dict).head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33
0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
3,0,0,0,1,0,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

In [29]:
# 从第一个数据开始，记录频率，隔了多久，出现次数，是否出现等
# 生成特征函数
def gene_feature(num_list):
    phase_num = 1  # 当前期数
    appear_gep = 0   # 已经有几期没出现
    features = []
    num_100 = 0
    per_100 = 0

    for i in num_list:
        num_total = np.sum(num_list[0:phase_num])  # 总共出现次数
        per_total = np.sum(num_list[0:phase_num]) / phase_num  # 总共出现比例
        if phase_num > 100:
            num_100 = np.sum(num_list[phase_num-100:phase_num])  # 近100期出现次数
            per_100 = np.sum(num_list[phase_num-100:phase_num]) / 100  # 近100期共出现比例
        if i == 0:
            appear_gep += 1
        else:
            appear_gep = 0
        # 离上次出现期数、总共出现次数、总共出现比例、近100期出现次数、近100期出现比例
        features.append([appear_gep, num_total, per_total, num_100, per_100, num_list[min(phase_num, len(num_list)-1)]])
        phase_num += 1
    return features

In [30]:
# 看看输出情况

features_1 = gene_feature(appear_dict[1])

with pd.ExcelWriter('tmp.xlsx', engine='openpyxl') as writer:  
    pd.DataFrame(appear_dict[1]).to_excel(writer, sheet_name='Sheet1', index=False)
    pd.DataFrame(features_1).to_excel(writer, sheet_name='Sheet2', index=False)

In [23]:
# 先建模试试

17280

In [25]:
# 奇偶比

def jioubi(df):
    jiou_list = []
    for i in range(df.shape[0]):
        ji = 0
        ou = 0
        for k in df.iloc[i].tolist()[2:-1]:
            if k%2 == 0:
                ji += 1
            else:
                ou += 1
        jiou_list.append(str(ji) + ':' + str(ou))
    return jiou_list


# 和值

def hezhi(df):
    hezhi_list = []
    for i in range(df.shape[0]):
        he = 0
        for k in df.iloc[i].tolist()[2:-1]:
            he += k
        hezhi_list.append(he)
    return hezhi_list


hezhi(data_o)

[100,
 99,
 101,
 65,
 103,
 88,
 99,
 76,
 104,
 65,
 94,
 104,
 114,
 75,
 117,
 150,
 110,
 113,
 86,
 127,
 128,
 78,
 110,
 93,
 71,
 122,
 98,
 115,
 111,
 85,
 130,
 126,
 99,
 99,
 41,
 132,
 116,
 96,
 114,
 64,
 89,
 60,
 91,
 97,
 88,
 79,
 139,
 131,
 78,
 100,
 100,
 110,
 132,
 101,
 115,
 129,
 147,
 129,
 64,
 78,
 109,
 90,
 90,
 75,
 117,
 94,
 99,
 145,
 107,
 61,
 94,
 74,
 102,
 114,
 138,
 97,
 103,
 127,
 129,
 136,
 102,
 122,
 90,
 75,
 74,
 107,
 66,
 113,
 144,
 48,
 123,
 90,
 128,
 84,
 109,
 106,
 105,
 82,
 67,
 99,
 129,
 138,
 84,
 72,
 109,
 102,
 79,
 105,
 93,
 95,
 96,
 89,
 115,
 111,
 106,
 75,
 43,
 120,
 91,
 93,
 72,
 61,
 99,
 125,
 106,
 81,
 126,
 124,
 113,
 111,
 85,
 90,
 90,
 112,
 115,
 85,
 90,
 107,
 107,
 68,
 88,
 67,
 105,
 119,
 126,
 134,
 90,
 90,
 98,
 124,
 122,
 101,
 125,
 148,
 110,
 75,
 89,
 99,
 128,
 94,
 132,
 89,
 100,
 127,
 94,
 83,
 90,
 100,
 104,
 112,
 133,
 148,
 70,
 113,
 112,
 70,
 109,
 134,
 128,
 120,
 85,
 137,
 86,
 158,
 83,
 135,
 110,
 117,
 94,
 95,
 99,
 56,
 106,
 100,
 131,
 72,
 121,
 102,
 127,
 122,
 117,
 129,
 76,
 132,
 64,
 74,
 87,
 111,
 113,
 116,
 105,
 94,
 122,
 108,
 67,
 121,
 78,
 115,
 144,
 128,
 98,
 100,
 80,
 94,
 138,
 83,
 70,
 101,
 80,
 83,
 123,
 119,
 116,
 110,
 118,
 74,
 103,
 67,
 118,
 116,
 79,
 105,
 113,
 80,
 125,
 136,
 129,
 111,
 97,
 105,
 120,
 105,
 131,
 62,
 80,
 71,
 109,
 52,
 75,
 75,
 101,
 83,
 96,
 91,
 103,
 142,
 135,
 97,
 92,
 103,
 131,
 96,
 75,
 96,
 140,
 111,
 80,
 98,
 90,
 125,
 71,
 76,
 112,
 62,
 108,
 103,
 99,
 136,
 107,
 109,
 112,
 84,
 72,
 77,
 64,
 86,
 110,
 97,
 73,
 124,
 117,
 92,
 125,
 104,
 100,
 117,
 103,
 123,
 132,
 116,
 76,
 111,
 82,
 98,
 113,
 137,
 106,
 114,
 108,
 84,
 101,
 89,
 125,
 128,
 86,
 119,
 77,
 132,
 97,
 79,
 100,
 116,
 88,
 96,
 104,
 129,
 93,
 83,
 105,
 109,
 77,
 66,
 90,
 81,
 105,
 80,
 105,
 108,
 67,
 117,
 54,
 63,
 97,
 97,
 84,
 83,
 109,
 113,
 111,
 128,
 72,
 89,
 80,
 92,
 96,
 111,
 53,
 115,
 119,
 132,
 130,
 95,
 95,
 97,
 92,
 124,
 61,
 140,
 90,
 91,
 111,
 95,
 103,
 113,
 71,
 65,
 101,
 77,
 99,
 104,
 82,
 86,
 56,
 105,
 104,
 124,
 138,
 93,
 102,
 75,
 118,
 104,
 148,
 149,
 96,
 127,
 101,
 112,
 78,
 146,
 121,
 127,
 78,
 91,
 89,
 150,
 115,
 83,
 130,
 108,
 94,
 107,
 103,
 124,
 109,
 143,
 92,
 102,
 116,
 106,
 83,
 97,
 122,
 76,
 107,
 75,
 108,
 96,
 134,
 113,
 94,
 111,
 99,
 129,
 123,
 111,
 108,
 104,
 96,
 101,
 68,
 109,
 89,
 100,
 94,
 78,
 90,
 123,
 91,
 79,
 113,
 75,
 113,
 118,
 122,
 81,
 125,
 118,
 97,
 108,
 75,
 90,
 90,
 113,
 75,
 105,
 115,
 108,
 114,
 129,
 111,
 59,
 94,
 100,
 104,
 69,
 110,
 120,
 152,
 96,
 84,
 134,
 119,
 118,
 97,
 131,
 115,
 125,
 120,
 110,
 120,
 85,
 98,
 80,
 135,
 120,
 128,
 94,
 117,
 106,
 95,
 89,
 68,
 99,
 52,
 118,
 102,
 122,
 71,
 88,
 86,
 91,
 82,
 105,
 102,
 72,
 87,
 104,
 114,
 90,
 126,
 100,
 85,
 120,
 105,
 98,
 114,
 110,
 85,
 68,
 105,
 118,
 108,
 90,
 87,
 103,
 74,
 119,
 82,
 114,
 81,
 85,
 85,
 122,
 124,
 98,
 112,
 115,
 81,
 116,
 76,
 119,
 110,
 69,
 93,
 85,
 119,
 70,
 119,
 75,
 101,
 89,
 98,
 144,
 94,
 90,
 50,
 75,
 68,
 137,
 120,
 77,
 107,
 121,
 91,
 121,
 76,
 94,
 103,
 74,
 103,
 116,
 130,
 100,
 106,
 97,
 87,
 91,
 114,
 112,
 110,
 89,
 109,
 105,
 42,
 106,
 80,
 117,
 123,
 134,
 91,
 101,
 94,
 123,
 99,
 60,
 112,
 144,
 122,
 89,
 130,
 88,
 88,
 129,
 89,
 88,
 47,
 80,
 63,
 105,
 127,
 116,
 78,
 70,
 87,
 105,
 91,
 79,
 111,
 112,
 112,
 90,
 106,
 118,
 96,
 117,
 105,
 86,
 80,
 92,
 73,
 71,
 118,
 96,
 78,
 81,
 80,
 91,
 63,
 139,
 102,
 130,
 96,
 124,
 105,
 96,
 117,
 75,
 76,
 141,
 100,
 65,
 101,
 74,
 113,
 94,
 98,
 106,
 109,
 152,
 87,
 116,
 78,
 91,
 92,
 103,
 112,
 73,
 95,
 97,
 99,
 114,
 134,
 125,
 136,
 99,
 129,
 125,
 122,
 107,
 106,
 87,
 107,
 141,
 78,
 96,
 90,
 118,
 67,
 82,
 121,
 111,
 63,
 111,
 96,
 106,
 134,
 90,
 139,
 82,
 108,
 69,
 112,
 105,
 86,
 126,
 121,
 144,
 121,
 115,
 100,
 77,
 95,
 72,
 49,
 113,
 121,
 114,
 108,
 106,
 89,
 109,
 86,
 106,
 90,
 93,
 56,
 127,
 124,
 74,
 126,
 101,
 81,
 103,
 103,
 90,
 102,
 124,
 71,
 85,
 84,
 115,
 107,
 96,
 87,
 103,
 108,
 59,
 79,
 110,
 115,
 131,
 100,
 102,
 89,
 128,
 144,
 118,
 104,
 85,
 131,
 144,
 96,
 76,
 113,
 76,
 106,
 72,
 120,
 89,
 126,
 137,
 80,
 106,
 74,
 103,
 91,
 111,
 105,
 103,
 121,
 101,
 123,
 104,
 124,
 90,
 82,
 119,
 120,
 110,
 127,
 123,
 79,
 119,
 106,
 115,
 114,
 110,
 93,
 136,
 130,
 74,
 89,
 98,
 83,
 133,
 128,
 81,
 103,
 65,
 115,
 92,
 122,
 138,
 93,
 74,
 93,
 95,
 65,
 76,
 91,
 105,
 89,
 115,
 67,
 78,
 61,
 83,
 107,
 134,
 111,
 95,
 85,
 114,
 132,
 84,
 110,
 101,
 108,
 128,
 121,
 92,
 123,
 94,
 97,
 119,
 126,
 82,
 115,
 98,
 142,
 83,
 84,
 116,
 149,
 89,
 105,
 106,
 145,
 100,
 102,
 78,
 87,
 103,
 128,
 99,
 125,
 106,
 97,
 125,
 123,
 111,
 110,
 82,
 74,
 121,
 86,
 109,
 101,
 96,
 130,
 100,
 73,
 109,
 115,
 99,
 121,
 92,
 109,
 91,
 109,
 110,
 70,
 74,
 103,
 90,
 78,
 128,
 125,
 123,
 150,
 130,
 105,
 109,
 120,
 61,
 68,
 101,
 159,
 93,
 85,
 115,
 124,
 85,
 91,
 67,
 117,
 118,
 94,
 82,
 127,
 107,
 137,
 71,
 69,
 77,
 125,
 117,
 110,
 96,
 66,
 70,
 102,
 95,
 67,
 155,
 107,
 97,
 96,
 100,
 104,
 87,
 116,
 94,
 93,
 124,
 96,
 93,
 80,
 93,
 103,
 96,
 116,
 89,
 72,
 95,
 102,
 87,
 77,
 130,
 102,
 148,
 93,
 57,
 60,
 154,
 88,
 100,
 90,
 105,
 95,
 63,
 79,
 93,
 95,
 56,
 163,
 111,
 97,
 88,
 ...]

In [17]:
data_o.shape

(2880, 9)

### 判断奇偶

In [13]:
# 做特征： 
#历史奇数百分比  历史偶数百分比  近一年奇数百分比  近一年偶数百分比  近半年奇数百分比  近半年偶数百分比  近三个月奇数百分比  近三个月偶数百分比  近一个月奇数百分比  近一个月偶数百分比
#近100次奇数百分比  近100次偶数百分比   近50次奇数百分比  近50次偶数百分比  近30次奇数百分比  近30次偶数百分比  近10次奇数百分比 近10次偶数百分比

data_o = pd.read_table('num.txt', sep = ',', header = None, names = ['date', 'phase', 'red1', 'red2', 'red3', 'red4', 'red5', 'red6', 'blue'], parse_dates = ['date'])
data_o.head()

        date    phase  red1  red2  red3  red4  red5  red6  blue
0 2003-02-23  2003001    10    11    12    13    26    28    11
1 2003-02-27  2003002     4     9    19    20    21    26    12
2 2003-03-02  2003003     1     7    10    23    28    32    16
3 2003-03-06  2003004     4     6     7    10    13    25     3
4 2003-03-09  2003005     4     6    15    17    30    31    16

In [14]:
data_o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2880 non-null   datetime64[ns]
 1   phase   2880 non-null   int64
 2   red1    2880 non-null   int64
 3   red2    2880 non-null   int64
 4   red3    2880 non-null   int64
 5   red4    2880 non-null   int64
 6   red5    2880 non-null   int64
 7   red6    2880 non-null   int64
 8   blue    2880 non-null   int64
dtypes: datetime64[ns](1), int64(8)
memory usage: 202.6 KB

In [15]:
# 彩票从03年2月23号开始，2880期。大概每年153期，隔三天一期和隔四天一期。特征取成近三年的话就2495个样本


1285-1133+1

153

In [16]:
2880-386+1

2495